/* roots */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

/* app */
.App {
  height: 100vh;
  width: 100vw;
}

.app-content {
  margin: 2rem;
  font-size: 1.2rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
}

.header-logo {
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
}

.header-logo>button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-navbar {
  display: flex;
  gap: 0.5rem;
}

.header-navbar a {
  color: black;
}

/* about-page */
.about-page {
  display: grid;
  grid-template-areas: "avatar info" "exp exp";
  grid-template-columns: 1fr 2fr;
}

.about-page-avatar {
  grid-area: avatar;
}

.about-page-avatar img {
  width: 30vw;
  border-radius: 50%;
}

.about-page-info {
  grid-area: info;
  margin-left: 1rem;
}

.about-page-info>div {
  margin-top: 0.5rem;
}

.about-page-exp {
  grid-area: exp;
}

.about-page-exp>h3 {
  margin-top: 2rem;
}

.about-page-exp>div {
  margin-top: 1rem;
}

/* main-page */
.main-page-content {
  margin-top: 1rem;
}

/*email-from*/
.email-form>form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

.email-form>form>input {
  height: 2rem;
  padding: 0.5rem;
  margin-top: -0.3rem;
}

.email-form>form>textarea {
  padding: 0.5rem;
  margin-top: -0.3rem;
}

.email-form>form>button {
  width: 30%;
  margin-top: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
}

/*modal*/
.modal {
  position: fixed;
  top: 40%;
  left: 40%;
  min-height: 10vh;
  min-width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  .modal {
    top: 25%;
    left: 15%;
  }
}